<div class="container">
    <div class="jumbotron" id="projectsJumbotron">
        <h1 class="display-4">Projects</h1>
        <hr>
        <!-- Grid -->
        <div class="container" id="grid">

          <!-- Row for Project 1 -->
          <div class="row">
            <div class="col align-items-center">
              <img src="./Assets/images/7coresembalagem_logo.jpg" id="firstProjectPhoto" alt="7 Cores Logo">
            </div>

            <div class="col" id="firstParagraph"></div>
          </div>

          <!-- Row for Project 2 -->
          <div class="row">
            <div class="col" id="secondParagraph"></div>

            <div class="col">
              <img src="./Assets/images/dream1.png" id="secondProjectPhoto" alt="Custom Buttons Photo">
            </div>

          </div>

          <!-- Row for Project 3 -->
          <div class="row">
            <div class="col">
              <img src="./Assets/images/taverneiro.png" id="thirdProjectPhoto" alt="7 Cores Logo">
            </div>

            <div class="col" id="thirdParagraph"></div>
          </div>
          
        </div>
    </div>
</div>