/* Here goes custom CSS */

.jumbotron{
    background-color: #30d5c210;
    overflow: hidden;
}

.btn-light{
    background-color: #30D5C2;
    color: white;
}

p{
    text-align: justify;
    
}

#aboutMePhoto{
    max-width: 50%;
    float: right;
    margin-left: 30px;
}

#firstProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

#secondProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

#thirdProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

