/*  File name: app.css
    Author's name: Amanda Cordeiro
    Website name: Amanda Puttomatti's Portfolio
    File description: Custom CSS file */

/* Change jumbotron background color*/
.jumbotron{
    background-color: #30d5c210;
    overflow: hidden;
}

/* Change reset button color*/
.btn-light{
    background-color: #30D5C2;
    color: white;
}

p{
    text-align: justify;
    
}

/* Photos customization */
#aboutMePhoto{
    max-width: 50%;
    float: right;
    margin-left: 30px;
}

#firstProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

#secondProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

#thirdProjectPhoto{
    max-width: 100%;
    float: right;
    margin-left: 30px;
}

/* Grid customization */
.row{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

